<div style="background: linear-gradient(white, #fff0f3)">
    <div class="container" style="padding-top: 7rem;">
        <div class="row">
            <div class="col m4">
                <p>{{ site.title }}</p>
            </div>
            <div class="col m8">
                <small>
                    チームマネジメントとかプロダクトマネジメントとかエンジニアリングマネジメントについて 学んだこと、感じたことを記録に残しています。<br>
                    Team Management / Product Management / Engineering Management / Lean / Agile / Scrum</p>
                </small>
            </div>
        </div>
    </div>
</div>
